
{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>


    body{


        background-color: #F5F5F5;

    }



</style>

<body>

    <br>

    <div class="container card shadow-md p-5 form-layout">

        <div class="text-center">
            
            <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>

            <br> <br>
   

            <h5> <strong> Your account is now active! </strong> </h5>

            <hr>

            <p> Please proceed to <a href="{% url 'my-login' %}" class="btn btn-primary">Login</a>. </p>


        </div>


    </div>


</body>


{% endblock %}
