
{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>


    body{


        background-color: #F5F5F5;

    }



</style>

<body>

    <br>

    <div class="container card shadow-md p-5 form-layout">

        <div class="text-center">
            
            <i class="fa-light fa-window-close fa-2x" aria-hidden="true"></i>

            <br> <br>
   

            <h5> <strong> Your payment has failed. </strong> </h5>

            <hr>

            <p> Try again or contact admin support. </p>


        </div>


    </div>


</body>


{% endblock %}